# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
frontend/
# Environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Node (frontend)
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/build/
