Django>=5.2.8,<6.0
django-anymail[brevo]>=10.0
python-dotenv>=1.0
mysqlclient>=2.2.0
djangorestframework>=3.14.0
django-filter>=23.5
djangorestframework-simplejwt>=5.3.0
django-cors-headers>=4.3.0
Pillow>=10.0.0
